{
  "plugins": [],
  "extends": [
    "eslint:recommended",
    "plugin:jest/recommended",
    "plugin:@typescript-eslint/recommended",
    // Turn off style-related rules
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "jest/no-done-callback": "off"
  },
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true
  },
  "globals": {
    "globalThis": "readonly"
  }
}
